.contact-us-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 3rem;
}

.contact-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.4rem;

    h2 {
        font-size: 1.8rem;
        color: hsl(258, 100%, 35%);
    }

    .form-container {
        display: flex;
        flex-direction: column;
        width: 47%;
        min-width: 261px;
        padding-right: 1.4rem;


        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-field {
                width: 48%;
            }
        }
    }

    .contact-container {
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 47%;
        min-width: 390px;
        padding-left: 1.4rem;

        .contact-types-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        #address {
            border: 2px solid #d5d5d5;
            min-height: 12.5em;
        }

        .contact-type {
            display: flex;
            justify-content: space-between;
            line-height: 2.4rem;

            .fa-envelope,
            .fa-phone,
            .fa-address-card {
                margin-right: 12px;
                font-size: 1.5rem;
            }
        }
    }
}



.info-container {
    // border-top: 2px solid hsl(258, 100%, 35%);
    background-color: hsl(258, 100%, 25%);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;



    .title h2 {
        font-size: 1.75rem;
        line-height: 2rem;
        margin-bottom: 1.4em;
    }

    .schedule-container {
        width: 80%;
        max-width: 495px;
        padding: 2em 0;

        .schedule {
            margin: auto;

            .day-schedule {
                display: flex;
                justify-content: space-between;
            }
        }
    }

}

@media (max-width: 940px) {
    .contact-types {
        flex-direction: column;
        gap: 20px;

        .form-container,
        .contact-container {
            width: 100%;
            padding: 0;
        }
    }
}