<div class="dashboard-container">
    <div class="user-profile-container">
        <div class="title-container">
            <h2>User Information</h2>
        </div>

        <div class="user-info-container">
            <div class="info"><span class="field">ID:</span><span class="value">{{this.user.id}}</span></div>
            <div class="info"><span class="field">First name:</span><span class="value">{{this.user.firstName}}<span
                        class="changed"
                        *ngIf="this.changeRequested.firstName">&nbsp;({{this.changeRequested.firstName}})</span></span>
            </div>
            <div class="info"><span class="field">Last name:</span><span class="value">{{this.user.lastName}}<span
                        class="changed"
                        *ngIf="this.changeRequested.lastName">&nbsp;({{this.changeRequested.lastName}})</span></span>
            </div>
            <div class="info"><span class="field">Phone number:</span><span
                    class="value">{{this.user.phone_number}}<span class="changed"
                        *ngIf="this.changeRequested.phone_number">&nbsp;({{this.changeRequested.phone_number}})</span></span>
            </div>
            <div class="info"><span class="field">Building:</span><span class="value">{{this.user.building}}<span
                        class="changed"
                        *ngIf="this.changeRequested.building">&nbsp;({{this.changeRequested.building}})</span></span>
            </div>
            <div class="info"><span class="field">Unit:</span><span class="value">{{this.user.unit}}<span
                        class="changed"
                        *ngIf="this.changeRequested.unit">&nbsp;({{this.changeRequested.unit}})</span></span>
            </div>
            <div class="changed" style="text-align: left; padding-left: 15px;" *ngIf="this.hasChanges">
                * Changes pending</div>
        </div>

        <div class="request-edit">
            <a href="javascript:void(0);" (click)="editUser()">
                <h2>Edit <i class="fa-solid fa-pencil"></i></h2>
            </a>
        </div>
    </div>

    <div class="other-container">
        <div class="announcements-container">
            <h2>Announcements</h2>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, omnis consequuntur? Dolores deserunt
                    autem at.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, omnis consequuntur? Dolores deserunt
                    autem at.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, omnis consequuntur? Dolores deserunt
                    autem at.</li>
            </ul>
        </div>

        <div class="services-container">
            <h2>Services</h2>
            <app-services-table [user]="this.user" [displayedColumns]="['number', 'short_description', 'status']"
                [limit]="3">
            </app-services-table>
        </div>
    </div>

</div>