<div class="login-box">
    <!-- Value: {{email.value}} | {{password.value}} -->
    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>E-mail &nbsp;<i class="fa-regular fa-envelope"></i></mat-label>
            <input matInput type="text" name="login-email" id="login-email" placeholder="abc@example.com"
                [formControl]="email" aria-required>
            <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="login-password" id="login-password" [formControl]="password"
                aria-required>
            <mat-error *ngIf="email.invalid">{{getPasswordError()}}</mat-error>
        </mat-form-field>

        <div class="forgot-password">
            <a href="javascript:void();">Forgot password?</a>
        </div>

        <button mat-raised-button color="primary">Submit</button>
    </div>

    <mat-divider></mat-divider>

    <button class="create-account-btn" mat-raised-button color="accent">Create an account</button>
</div>