.login-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .forgot-password {
            padding-bottom: 19px;

            a {
                text-decoration: none;
            }
        }

        button {
            height: 50px;
            border-radius: 12px;
        }
    }

    .create-account-btn {
        border-radius: 12px;
        height: 50px;
        width: 50%;
        min-width: 12em;
        margin: auto;
    }
}