.contractor-page-container {
    font-size: 1.2rem;
}

.nav-bar {
    background-color: #3700B3;
    display: flex;
    flex-direction: row;
    min-height: 4rem;

    .app-title {
        text-decoration: none;
        padding: 15px;
        color: #fff;
        font-size: 32px;
        font-weight: 600;
    }
}

.case-details-container {
    padding: 20px;
    max-width: 80em;
    margin: auto;
}